body{
    margin: 0px;
    padding: 0px;
    background: url('login_background.jpg') ;
    background-size: cover;
    font-family: sans-serif;
}
.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand {
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #000000;
}
.navbar-light .navbar-nav .nav-link{
    color: #000000;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    font-family: poppins;
    font-size: 18px;
    font-weight: bold;
    padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #fff !important;
}
.w-100{
    height: 100vh;
}
@media only screen and (max-width: 767px){
    .navbar-nav.ml-auto {
        background: rgba(0,0,0,0.5);
    }
    .navbar-togggle{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.con{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.signIn{
    position: relative;
    width: 100%;
    height: 50px;
    background: #000000; ;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
}
.row{
    position: relative;
    width: 104%;
    background: rgba(17, 24, 34, .8);
    transform-origin:top;
    padding: 30px 30px;
    box-sizing: border-box;
    transition: .5s;  
}                                                                                           
.row form input[type="text"],
.row form input[type="password"]{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 40px;
    box-shadow: none;
    outline: none;
    color: #fff;
    background: transparent;
    border: 1px solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
}
::placeholder{
    color: #fff;
}
.row form input[type="submit"]{
    display: block;
    padding: 12px 40px;
    border-radius: 40px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1d2b38;
    color:#fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
}
.row form input[type="submit"]:hover{
    background: #000000;
}
.row form a {
    color: #fff;
    margin-top:20px;
    display: block;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
}