<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text"     name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="Submit">
    </form>
    
    <div>
        {% for message in messages %} 
        <h3> {{message}} </h3> 
        {% endfor %}
    </div>
</body>
</html>