{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
    <title>LOGIN PAGE</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <div class="container">
                    <img src="{% static 'images/glug_logo.jpg' %}" alt="no image" height="80" width="80" class="navbar-brand" >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>   
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="Home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="project.html">PROJECT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="discussion form.html">DISCUSSION FORM</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <span class="nav-link " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ABOUT
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">News</a>
                                        <a class="dropdown-item" href="#">Free Software</a>
                                        <a class="dropdown-item" href="#">Operating System</a>
                                        <a class="dropdown-item" href="#">Team GLUG</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <span class="nav-link " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       CONTACT
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">President</a>
                                        <a class="dropdown-item" href="#">Technical Head</a>
                                        <a class="dropdown-item" href="#">Team Leads</a>
                                    </div>
                                </div>
                            </li>        
                        </ul>
                    </div>
                </div>
            </nav>    
    <div class="con">
        <div class="signIn">Enter Details to login</div>

        <div class="row">
            <form action="register" method="post">
                {% csrf_token %}
                <input type="text"     name="first_name" placeholder="First Name">
                <input type="text"     name="last_name"  placeholder="Last Name">
                <input type="text"     name="username"   placeholder="Username">
                <input type="text"     name="email"      placeholder="email">
                <input type="password" name="password1"  placeholder="Password">
                <input type="password" name="password2"  placeholder="Confirm Password">
                <input type="submit">
            </form>
        </div>
    </div>
    <div>
        {% for message in messages %} 
        <h3> {{message}} </h3> 
        {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>